<h1>Games</h1>
<table>
  <tr>
    <th>Game</th>
    <th>Availibilty</th>
  </tr>


<% @games.each do |g| %>
<tr>
  <td> <%= link_to g.title, game_path(g.id) %></td>

<td> <% if  g.available %>
<%= 'Available' %>
<% else %>
<%= 'Unavailable' %>
<% end %></td>
</tr>
<% end %>

</table>
<br>

<%= link_to "Add a Game", new_game_path %>
