body{
  background-color:rgba(61, 199, 170, 0.63) ;
  font-size: 16pt;
  font-family: OldTown, fantasy;
  margin:  auto;
  text-align: center;
  border-radius: 10px;
}

p{
  text-decoration:  underline;
}

div{
  /* border: 2px solid gray; */
  border-radius: 20px;
  width: 50vw;
  align:center;
  margin: auto;
  margin-top: 10px;
  vertical-align: middle;
  padding-top: 10px;
}

div:hover {  box-shadow: 0 5px 15px rgba(0, 0, 0, .2); }


div.games-background{
  align: left;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div.login{
  /* width: 10vw; */
  padding-bottom: 40px;
}

div.lib{
  align: left;
  width: 15vw;
  border: 2px blue;
  margin: auto;
}

div.loans{
  width: 20vw;
  text-align: center;
}

div.log{
  border: 2px blue;
  width: 10vw;
  padding: 10px;
}

div.games{
width: auto;
border: none;
}

div.page{
  width: 100vw;
}

div.page:hover{
  box-shadow: none;
}

#user_info{
  display: none;
}

ul.games{
margin: auto;
background-color: rgba(180, 180, 214, 0.80);
border-radius: 10px;
width: 45vw;
padding: 50px;
}

ul.categories{
  list-style: disc;
  align: center;

}
ul{
  margin-left: 400px;
}

li{
  text-align: left;
}

nav{
  display: flex;
  justify-content:  flex-end;
  text-align: center;
}


a{
  /* background-color: rgba(61, 199, 170, 0.12); */
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin: 10px;
  padding: 5px;
  /* height: 40px; */
  /* top: 50px; */
}

a.name{
  padding: 0px;
  margin: 0px;
}

a.log{
  align: left;
  border: 2px blue;
}

a.lib{
  align: right;
}

form{
  /* text-align: left; */
  /* width: 30vw; */
  /* margin: auto; */
  padding: 20px;
  /* margin-left: 39vw; */
}

label{
  text-align: center;
  padding: 30px;
}

input{
  /* background-color: grey ; */
  border-radius: 10px;
  left: 20px;
}

#login_email{
  margin-left: 83px;
}

#login_password{
  margin-left: 45px;
}

#login_button{
  margin-left: 200px;
  width: 150px;
}

#loan_game_id{
  left: 80px;
  position: relative;
  width: 150px;
}

#loan_start_date{
  left: 32px;
  position: relative;
}

#loan_end_date{
  left: 41px;
  position: relative;
}

input.button{
  left: 115px;
  position: relative;
}

.add-game{
  text-align: center;
  }

.category-table{
  display: block;
}

table{
margin: auto;
margin-bottom: 10px;
text-align: left;
background-color: rgba(180, 180, 214, 0.80);
border-radius: 10px;
padding: 20px;
}

th{
  padding:10px;
  border-radius: 10px;
}

#title{
  width: 100vw;
  margin: 0 ;
}
#title:hover{
  box-shadow: none;
}


@media only screen and (max-width: 600px){
  body{
  background-color: blue;

}
nav{
  height: auto;

}
div{
  align: left;
}
div.game-background{
  background-repeat: no-repeat;
  background-size: auto;
}
form{
  margin: 0;
}

#loan_game_id{
  left:auto;
  margin: 0;
  padding: 0;
}

#loan_start_date{
  left:auto;
  margin: 0;
  padding: 0;
}

#loan_end_date{
  left:auto;
margin: 0;
padding: 0;
}

input.button{
  margin: 0;
  padding: 0;
  left: auto;
}

label{
  margin: 0;
  padding: 0;
}

}
