<h1>Categories</h1>
<ul>
<% @categories.each do |c| %>
<li>
  <%= link_to c.name, category_path(c.id)%>
</li>
<% end %>

</ul>

<% if @current_user.present? %>
  Welcome, <%= @current_user.name %>
  |
  <%= link_to "Add a Category ", new_category_path %>
  <% else %>

  <% end %>
