<h1>Category: <%= @category.name %></h1>
<ul>
  <% @category.games.pluck(:title).each do |n| %>
    <li><%= link_to n, game_path(@category.games.ids) %></li>

  <% end %>
<li>

</li>

</ul>



<br>
<%= link_to "Edit this Category", edit_category_path(@category.id) %>
<%= link_to "Delete this Category", category_path(@category.id), method: 'delete' %>
